
.productPrice, .productName{
    color: blue;
    font-size: 1rem;
}

.cartList{
    padding: 20px;
}

.inputText{
    width: 1.2rem;
}

.cartWrapper{
    margin-top: 50px;
    border: 2px black solid;
    box-shadow: 2px 2px 3px black;
    border-radius: 10px;
    max-width: 300px;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}