

.navbar{
    background-color: rgb(58, 3, 59);
    height: 50px;
    width: 100%;
    position: fixed;
    margin-bottom: 50px;

}

.text1, .text2{
    text-decoration: none;
    font-size: large;
    color: whitesmoke;
    
    
}
.text2{
    margin: 1.6rem;
    
}

.Amount{
    margin-right: auto;
    color: aliceblue;
    text-decoration: none;
    
}
